.tourlist {
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-items: start;
  gap: 10px;
  justify-items: center;
}
.item-tour {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 8px;
  transition: 0.3s;
  margin-bottom: 10px;
  box-shadow: 0 0 2px 4px #9994;
  transition: 0.3s;
  overflow: hidden;
}
.item-tour:hover {
  background-color: #fff;
  box-shadow: 0 0 1px 2px #999;
}
.item-tour img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.item-tour-img {
    position: relative;
    display: flex;
    flex-direction: column;
}
.item-tour-text-img {
  position: absolute;
  z-index: 2;
  left: 10px;
  bottom: -20px;
  background-color: #ffebcd;
  font-size: 18px;
  padding: 5px;
  border-radius: 6px;
  min-width: 100px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
}
.body-item {
  background-color: #fff;
  padding: 20px 10px;
}
.body-item h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.item-duration {
  font-size: 16px;
  margin-bottom: 10px;
}
.item-rating {
  margin-bottom: 10px;
}
.item-price {
  display: flex;
  align-items: center;
  color: #999;
  margin-bottom: 20px;
}
.item-price strong {
  color: var(--orange-color);
  margin-left: 10px;
}
.item-link {
  outline: none;
  border: none;
  background-color: #6495ed;
  font-size: 18px;
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}
.item-link:hover {
  background-color: #467de1;
}
@media (max-width: 767px) {
  .tourlist {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .item-tour {
    width: 100%;
  }
}
